[submodule "makusomosreyes"]
	path = makusomosreyes
	url = git@github.com:moisessantiago/makusomosreyes.git
[submodule "somosreyes_dev"]
	path = somosreyes_dev
	url = git@github.com:moisessantiago/somosreyes_dev.git
[submodule "security_users"]
	path = security_users
	url = git@github.com:viernes/security_users.git

[submodule "xmarts/replace_button_stock_barcode"]
	path = xmarts/replace_button_stock_barcode
	url = git@github.com:xmarts/replace_button_stock_barcode.git
	branch = master
